.button-open {
    margin-bottom: 10px!important;
}

.modalclass {
    position: relative!important;
        
}

.contam-card{
    background-color: rgba(255, 0, 0, 0.2)!important;
    ;
}
.no-contam-card{
    background-color: rgba(0, 128, 0, 0.1)!important;
}