.ant-layout{
    background-color: white;
    
}
.ant-layout-sider-trigger {
    background: grey;

}
.ant-layout-sider-children {
    background-color: white;
}
// h1 {
//     background-color: red;
// }

.title {
    margin-left: 30px;
}
