.avail-rack {
    background-color: rgba(211, 211, 211,.7)!important;
}
.unavail-rack {
    background-color: rgba(173, 216, 230, .8)!important;
}

.metaInfo{
    font-size: xx-small;
}
.text-deco {
    text-decoration: underline;
}

