.ongoing{
    background-color: rgba(173, 216, 230, .8)!important;
}
.completed {
    background-color: rgba(0, 128, 0, 0.1)!important;
}
.unused {
    background-color: rgba(211, 211, 211,.7)!important;
}
.metaInfo{
    font-size: xx-small;
}
.text-deco {
    text-decoration: underline;
}